body {background-color:rgb(255, 255, 255);
max-width: 1000px;
margin:auto;}

header {text-align:center;}


nav {background-color: rgb(0, 0, 0);
text-align:center;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
margin:10px;
padding:10px;
color:rgb(255, 255, 255)}

.navbar a {text-decoration: none;
color:rgb(253, 253, 253);
padding:10px;
margin:10px;}

.navbar a:hover {background-color: rgb(83, 83, 82);}


.flex-container {display:flex;
}

#flower {width:270px;
}


.flex-container div {background-color: rgb(73, 73, 73);
font-size: 20px;
margin:10px;
padding:25px;
flex-grow:1;
color:rgb(231, 248, 248);
font-family: Arial, Helvetica, sans-serif;

}


footer {text-align:center;
background-color: rgb(0, 0, 0);
color:rgb(255, 255, 255);
bottom:0;
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
padding: 5px;
margin:10px;


}